<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta charset="utf-8"/>

<link rel="shortcut icon" type="image/png" href="/assets/images/favicon.ico" />

<link rel="apple-touch-icon" href="/assets/images/32x32.png" />

<meta name="apple-mobile-web-app-title" content="Guardian" />
<meta name="application-name" content="The Guardian" />
<meta name="msapplication-TileColor" content="#005689" />

<link href="/assets/css/style.css" rel="stylesheet">
<link href="/assets/css/header.css" rel="stylesheet">
