.app {
  display: flex;
}

.right {
  flex-grow: 1;
}

.item {
  background-color: grey;
  color: white;

  text-align: center;

  width: 350px;
  height: 100%;
}

.container {
  border: 1px solid grey;
  width: 350px;
  height: 50px;

  margin: 10px;
}

.container--collapsed {
  opacity: 0.3;
  height: 20px;
}

.container-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}